:root {
	--font-size-default: 16px;
	--font-family-default: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	--font-family-title: 'Tungsten', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	--color-black: #222020;
	--color-white: #FFFFFF;
	--color-light: #E4E4E4;
	--color-stroke: #DDDDDD;
	--color-gray: #3C3C3C;
	--color-brown: #694D41;
	--color-green: #4B593F;
	--color-senape: #987F5F;
	--color-pink: #C9B2AB;
	--color-red: #7C514B;
}

$font-size-default: 16px;

@function rem($pixels) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @return #{$pixels / $font-size-default}rem;
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size, $min-lineheight, $max-lineheight) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  $u5: unit($min-lineheight);
  $u6: unit($max-lineheight);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 and $u1 == $u5 and $u1 == $u6 {
    & {
      font-size: $min-font-size;
      line-height: $min-lineheight;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        line-height: calc(#{$min-lineheight} + #{strip-unit($max-lineheight - $min-lineheight)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
        line-height: $max-lineheight;
      }
    }
  }
}

@font-face {
	font-family: 'Roboto';
	src: url('/public/font/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Tungsten';
	src: url('/public/font/Tungsten-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Tungsten';
	src: url('/public/font/Tungsten-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html, body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background: var(--color-black);
}

body {
	font-family: var(--font-family-default);
	font-size: var(--font-size-default);
	color: var(--color-white);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	&.wait {
		cursor: progress;

		* {
			cursor: progress !important;
			pointer-events: none;
		}
	}
}

.svg__sprites, .imgs__preload {
	position: absolute;
	width: 0;
	height: 0;
	visibility: hidden;
}

h1, h2, h3, h4, h5 {
	font-family: var(--font-family-title);
	text-transform: uppercase;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	padding: rem(42px) rem(55px);

	z-index: 5;

	h1 {
		font-size: rem(16px);
		line-height: rem(14px);
		font-weight: 600;
		letter-spacing: 1px;
		display: inline-block;

		bdi {
			display: block;

			&:last-child {
				margin-top: 3px;
			}
		}

		span {
			display: inline-block;
		}
	}
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 42.45vw;
	height: 100%;

	z-index: -1;

	&--brown { background-color: var(--color-brown); }
	&--green { background-color: var(--color-green); }
	&--senape { background-color: var(--color-senape); }
	&--pink { background-color: var(--color-pink); }
	&--red { background-color: var(--color-red); }
	&--white { background-color: var(--color-white); }
}

.slider {
	position: relative;
	width: 100vw;
	height: 100vh;

	&__viewport {
		position: relative;
		width: 100vw;
		height: 100vh;
	}

	&__transition {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		pointer-events: none;
		
		z-index: -1;
	}

	&__item {
		position: absolute;

		figure {
			position: relative;
			width: 100%;
			height: 100%;

			.figure__bg {
				position: absolute;
				width: 100%;
				height: 100%;

				background-size: cover;
				background-position: 50% 50%;

				&__wrapper {
					position: absolute;
					width: 100%;
					height: 100%;

					overflow: hidden;

					transition: transform 0.4s ease-out 0.2s;
				}
			}
		}
	}

	.item {
		&--prev {
			bottom: 0;
			left: 0;
			width: 23vmax;
			height: 23vmax;

			clip-path: circle(50% at 50% 50%);

			opacity: 0.3;

			overflow: hidden;

			cursor: pointer;

			transition: opacity 0.4s ease-out;

			&:hover {
				opacity: 0.75;
				
				.figure__bg__wrapper {
					transform: scale(1.05);
					transition-delay: 0s;
				}
			}

			* {
				pointer-events: none;
			}
		}

		&--current {
			top: 0;
			left: 34vw;
			width: 31.18vw;
			height: 77vh;
		}

		&--next {
			top: 0;
			right: 10vw;
			width: 15vw;
			height: 33.37vh;

			opacity: 0.3;

			cursor: pointer;

			overflow: hidden;

			transition: opacity 0.4s ease-out;

			&:hover {
				opacity: 0.75;

				.figure__bg__wrapper {
					transform: scale(1.05);
					transition-delay: 0s;
				}
			}

			* {
				pointer-events: none;
			}
		}

		&__title {
			position: relative;
			@include fluid-type(1024px, 1366px, 100px, 135px, 95px, 112px);

			color: var(--color-light);

			bdi {
				display: block;
				overflow: hidden;

				&:not(:first-child) {
					padding-top: 5px;
				}
			}

			span {
				display: inline-block;
				white-space: nowrap;
			}

			.title {
				&__filler {
					position: relative;
				}
				&__stroke {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;

					color: transparent;
					-webkit-text-stroke: 2px var(--color-stroke);
				}
			}
		}

		&__figcaption {
			position: absolute;
			width: 100%;
			text-align: right;
			top: 26vh;
			right: 80%;
		}

		&__counter {
			position: relative;
			top: rem(-10px);
			font-size: rem(12px);
			text-align: right;
			overflow: hidden;

			span {
				display: inline-block;
			}
		}
	}

	&__details {
		position: absolute;
		right: 10vw;
		bottom: 23vh;
		text-align: right;

		font-size: rem(12px);

		bdi {
			display: block;
			overflow: hidden;
		}

		span {
			display: inline-block;
		}
	}

	.details {
		&__date {
			margin-top: rem(30px);
		}

		&__cta {
			display: inline-block;
			position: relative;
			margin-top: rem(30px);

			font-family: var(--font-family-title);
			font-size: rem(16px);
			line-height: rem(18px);
			font-weight: 600;
			text-transform: uppercase;

			cursor: pointer;

			svg {
				position: relative;
				width: 16px;
				height: 16px;
				margin-left: 11px;

				vertical-align: middle;
			}

			bdi {
				transition: transform 0.3s ease-out;
			}

			.cta__hover {
				position: absolute;
				width: 100%;
				height: 9px;
				left: 0;
				bottom: -3px;
				z-index: -1;

				transform: scaleX(0);
				transform-origin: 0% 50%;
				opacity: 0.85;

				transition: transform 0.2s ease-out;
			}

			&:hover {
				.cta__hover {
					transform: scaleX(1);
				}

				bdi {
					transform: translate3d(0, -4px, 0);
				}
			}
		}
	}

	&__lines {
		position: absolute;
		right: 10vw;
		bottom: 40px;
		width: 43vw;

		.lines__nav {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;

			list-style: none;
		}
	}

	.line {
		position: relative;
		cursor: pointer;
		padding: 10px 0;
		height: 25px;

		&__track {
			position: absolute;
			top: 10px;
			left: 0;
			width: 100%;
			height: 1px;

			background: var(--color-gray);

			pointer-events: none;
		}

		&__thumb {
			position: absolute;
			top: 10px;
			left: 0;
			width: 100%;
			height: 5px;

			z-index: 2;

			transform: scaleY(0);
			transform-origin: 50% 0%;
			transition: transform 0.2s ease-out;

			pointer-events: none;
		}

		&:hover, &[data-current] {
			.line__thumb {
				transform: scaleY(1);
			}
		}
	}
}

.preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	pointer-events: none;
	z-index: 10;

	header {
		bdi {
			span {
				color: transparent;
			}

			&:first-child {
				background: lighten(#222020, 4%);
			}

			&:last-child {
				background: lighten(#222020, 2%);
			}
		}
	}

	&__item {
		position: absolute;
	}

	.item {
		&--prev {
			top: 50vh;
			left: 55vw;
			width: 23vmax;
			height: 23vmax;

			background: #424242;
		}

		&--current {
			top: 0;
			left: 34vw;
			width: 31.18vw;
			height: 77vh;

			background: darken(#424242, 5%);
		}

		&--next {
			top: 10vh;
			left: 32vw;
			width: 15vw;
			height: 33.37vh;

			background: darken(#424242, 10%);
		}
	}
}

.cursor {
	position: absolute;
	width: 55px;
	height: 55px;

	display: flex;
	align-items: center;
	justify-content: center;

	&__inner {
		width: 4px;
		height: 4px;
		border-radius: 50%;

		transition: background 0.4s ease-out;
	}

	&__circle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		transform: rotate(-90deg);

		svg {
			.stroke {
				stroke-width: 2;
				stroke: var(--color-gray);
				opacity: 0.7;

				transition: all 0.4s ease-out;

				stroke-dasharray: 166;
				stroke-dashoffset: 0;

				@at-root .wait & {
					stroke-dasharray: 166;
					stroke-dashoffset: 166;

					transition: none;
				}

			}
			.filler {
				stroke-width: 2;
				stroke: var(--color-brown);
				
				stroke-dasharray: 166;
				stroke-dashoffset: 166;

				transition: all 0.4s ease-out;

				@at-root .wait & { 
					transition: none;
				}

				&--brown {
					stroke: darken(#694D41, 8%);
					stroke-dashoffset: calc((166 / 5) * 4);
				}
				&--green {
					stroke: darken(#4B593F, 8%);
					stroke-dashoffset: calc((166 / 5) * 3);
				}
				&--senape {
					stroke: darken(#987F5F, 8%);
					stroke-dashoffset: calc((166 / 5) * 2);
				}
				&--pink {
					stroke: darken(#C9B2AB, 8%);
					stroke-dashoffset: calc((166 / 5) * 1);
				}
				&--red {
					stroke: darken(#7C514B, 8%);
					stroke-dashoffset: calc((166 / 5) * 0);
				}
			}
		}
	}

	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		z-index: 20;
		pointer-events: none;
	}
}